
.welcome {
    background-color: white;
    width: 100%;
    height: 100vh;
    overflow: hidden !important;
    
}
.welcome h1 {
    font-weight: bold;
    color: #1A55B4;
    font-size: 2.7rem;
    margin-bottom: 60px;
}
.welcome h4 {
    margin-top: 40px;
    font-size: 1rem;
    color: #757575;
}
.infos {
    height: 100vh;
}

/* --- modal login ----- */
.modalogin {
    width: 100vw;
    height: 80vh;
    background-color: #efeded;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: absolute;
    top: 80vh;
    transition: all ease 0.3s;
    padding-top: 20px;
}
.font {
    margin-top: 10px;
    font-size: 20px;
    color: #1A55B4;

}