<div class="screenHome container p-4">
    <h1 class="d-flex justify-content-center">Tarefas</h1>
    
    <h2>A FAZER</h2>
    <div *ngFor="let tu of todos">
        <tuduItem *ngIf="!tu.do" [todoId]="tu.id" ></tuduItem>
    </div>
    

    <h2>EM PROGRESSO</h2>
    <div id="caixa">
         <inProgress *ngFor="let tu of todos" [todoId]="tu.id"></inProgress>
    </div>


    <h2>CONCLUÍDO</h2>
    <div *ngFor="let tu of todos">
        <tuduItem *ngIf="tu.do"  [todoId]="tu.id"></tuduItem>
    </div>
    
</div>