<div class="screenUser">
    <div class="container modalogin" >
        <img src="../../../assets/foto3x4.png" alt="">
        <h1 class="user">Bruno Dior</h1>
        <div class="d-flex w-100 ">
            <div class="in" style="background-color: #6AA5FF;">
                <h1>{{done}}</h1>
                <h2>Tarefas<br> feitas</h2>
            </div>
            <div class="in" style="background-color: #FE746F;">
                <h1>{{do}}</h1>
                <h2>Tarefas <br> a fazer</h2>
            </div>
        </div>
        <div class="divisoria"></div>
        <div class="d-flex justify-content-center align-items-center mt-5">
            <fa-icon class="col-1 d-flex justify-content-center font" [icon]="faLogout"></fa-icon>
            <h1 (click)="logout()" class="logout">Logout</h1>
        </div>
    </div>
</div>