<router-outlet></router-outlet>
<div class="navegacao d-flex justify-content-center align-items-center ">
    <a [routerLink]="['/']" routerLinkActive="router-link-active" ><fa-icon class="icone" [icon]="faHouse"></fa-icon></a>
    <a [routerLink]="['/planner']" routerLinkActive="router-link-active" ><fa-icon class="icone" [icon]="faCalendar"></fa-icon></a>
    <a [routerLink]="['/user']" routerLinkActive="router-link-active" ><fa-icon class="icone" [icon]="faUser"></fa-icon></a>
    <a [routerLink]="['/create']" routerLinkActive="router-link-active" > <fa-icon class="icone plus" [icon]="faPlus"></fa-icon></a>


   

</div>